// ===============================================================
//! Подключения......
// ===============================================================
// основные настройки сброса и подключения шрифтов "Главные"
@import "utils/variables.scss";
@import "utils/AModernCSSReset.scss";
@import "utils/media.scss";

// ===============================================================
//отдельные компоненты сайта components

// ===============================================================
// основные блоки страницы сайта modules
// ===============================================================
// общие стили
body {
    font-family: $mainFont;
    font-size: 1em;
    overflow-wrap: break-word;
    color: $color-fsbook;
}

