// ===============================================================
//! Подключения......
// ===============================================================
// основные настройки сброса и подключения шрифтов "Главные"
@import "utils/variables.scss";
@import "utils/AModernCSSReset.scss";
@import "utils/media.scss";

// ===============================================================
//отдельные компоненты сайта components

// ===============================================================
// основные блоки страницы сайта modules
// ===============================================================
// общие стили
body {
    font-family: $mainFont;
    font-size: 1em;
    overflow-wrap: break-word;
    color: $color-fsbook;
}
#app {
    .wrapper {
        .wrapper-content {
            section {
                padding: 15px;
                .container {
                    .icons {
                        position: absolute;
                        top: 12%;
                        left: 3%;
                        cursor: pointer;
                        z-index: 1;
                        span {
                            margin: 5px;
                            color: #2c2c2c;
                            font-weight: 900;
                            &.active {
                                color: #8854d0;
                            }
                        }
                    }
                    .wrapper-header {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        label {
                            font-weight: 600;
                        }
                        .wrapper-title {
                            h1, span {
                                margin: 0;
                            }
                            span.name {
                                padding-right: 4%;
                            }
                            .title {
                                text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
                                background: unset;
                            }
                            .sub-title {
                                display: block;
                                position: relative;
                            }
                        }
                        .wrapper-search {
                            .search {
                                input {
                                    border: none;
                                    padding: 0;
                                    box-shadow: none;
                                    &::placeholder {
                                        color: #6f7070;
                                        padding-left: 6%;
                                    }
                                }
                            }
                        }
                        .wrapper-priority {
                            .priority {
                                display: flex;
                                flex-direction: column;
                                margin-top: 12px;
                                select {
                                    border: none;
                                    padding: 5px 10px 5px 10px;
                                    font-size: 16px;
                                    outline: none;
                                    select option {
                                        color: #6f7070;
                                    }
                                }
                            }
                        }
                    }
                    .wrapper-body {
                        padding: 6% 0;
                        .wrapper-new-notes {
                            .new-note {
                                display: flex;
                                justify-content: center;
                                flex-direction: column;
                                max-width: 50%;
                                margin: 0 auto;
                                .btn {
                                    display: inline-block;
                                    margin: 4% auto;
                                    padding: 0.8em 4em;
                                    line-height: 1;
                                    text-transform: uppercase;
                                    font-weight: 900;
                                    cursor: pointer;
                                    border-radius: 20px;
                                    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.6);
                                    border: none;
                                    &:hover {
                                        color: #2c3e50;
                                    }
                                    &:active {
                                        box-shadow: none;
                                        text-transform: none;
                                    }
                                }
                            }
                        }
                        .wrapper-notes {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            align-items: center;
                            .note {
                                margin: 0.5%;
                                min-width: 30%;
                                height: 100%;
                                overflow: hidden;
                                padding: 1rem;
                                border-radius: 0 4px 4px 0;
                                box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
                                background: #fff;
                                transition: all .25s cubic-bezier(.02, .01, .47, 1);
                                &-header {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    h3 {
                                        margin: 0;
                                        font-weight: 700;
                                        font-style: italic;
                                        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
                                    }
                                    .delete {
                                        font-size: 1.8em;
                                        cursor: pointer;
                                        &:hover {
                                            color: #2c2c2c;
                                        }
                                    }
                                }
                                &-body {
                                    p {
                                        font-weight: 500;
                                        color: #273164;
                                    }
                                    span {
                                        color: #999999;
                                    }
                                }
                                &.full, &-header {
                                    h3 {
                                        display: block;
                                        margin: 0 auto;
                                    }
                                    text-align: center;
                                    min-width: 100%;
                                    &span.delete {
                                        margin-left: 20px;
                                    }
                                }
                                &:hover {
                                    transform: translate(0, -6px);
                                    transition-delay: 0s !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .no-notes {
        text-align: center;
        font-weight: 900;
        font-size: 2em;
        margin-top: 10%;
    }
    textarea,
    input {
        display: block;
        border: none;
        min-width: 50%;
        height: 40px;
        padding: 5px 10px 5px 10px;
        font-size: 16px;
        outline: none;
        border-radius: 6px;
        box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.6);
        &::placeholder {
            color: #6f7070;
        }
    }
    textarea {
        position: relative;
        z-index: 2;
        margin-top: 2%;
        height: 50px; /* Высота поля в пикселах */
        resize: none; /* Запрещаем изменять размер */
    }
}