// ===============================================================
//! Подключения......
// ===============================================================
// основные настройки сброса и подключения шрифтов "Главные"
@import "utils/variables.scss";
@import "utils/AModernCSSReset.scss";
@import "utils/media.scss";

// ===============================================================
//отдельные компоненты сайта components

// ===============================================================
// основные блоки страницы сайта modules
// ===============================================================
// общие стили
body {
    font-family: $mainFont;
    font-size: 1em;
    overflow-wrap: break-word;
    color: $color-fsbook;
}

.none {
    border-left: none;
}
.red {
    border-left: 0.6em #ec0404 solid;
}
.yellow {
    border-left: 0.6em yellow solid;
}
.green {
    border-left: 0.6em greenyellow solid;
}
.full.red{
        border-left: 1.6em #ec0404 solid;
}
.full.yellow{
    border-left: 1.6em yellow solid;
}
.full.green{
    border-left: 1.6em greenyellow solid;
}

