/* Set core root defaults */
html {
    scroll-behavior: smooth;
}
//! добавил
html {
    line-height: $mainLineHeight;
    font-size: $mainFontSize;
    color: $mainFontColor;
    height: 100%;
    @media screen and (max-width: $desktopWidth) {
        font-size: 16px;
    }
    @media screen and (max-width: $tableWidth) {
        font-size: 15px;
    }
    @media screen and (max-width: $phoneWidth) {
        font-size: 14px;
    }
}
/* Box sizing rules */
/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Set core body defaults */
/* Выставляем основные настройки по-умолчанию для body */
//! добавил
body {
    margin: 0;
    padding: 0;
    // min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    // font-family: $mainFont;
    font-size: $mainFontSize;
    font-weight: $mainFontWeight;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* Remove default margin */
/* Убираем внешние отступы */
body,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
    margin: 0;
}
ol,
p,
ul {
    line-height: 1.5;
}
/* Remove default padding */
/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}
/* Remove list styles on ul, ol elements with a class attribute */
/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
// Title
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    line-height: 1.4;
}

h1 {
    font-size: 2.2rem;
    font-weight: 600;
}

h2 {
    font-size: 1.65rem;
    padding-bottom: 0.3rem;
}

h3 {
    font-size: 1.35rem;
}

/* A elements that don't have a class get default styles */
/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
    text-decoration: none;
    font-weight: 500;
}
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Natural flow and rhythm in articles by default */
/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
/* Наследуем шрифты для инпутов и кнопок */
input,
    // button,
textarea,
select {
    font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
    filter: blur(10px);
}
section,
.section {
    position: relative;
    padding: 20px 0;
    @media screen and (max-width: $smDesktopWidth) {
        padding: 36px 0;
    }
    @media screen and (max-width: $tableWidth) {
        padding: 28px 0;
    }
    @media screen and (max-width: $phoneWidth) {
        padding: 20px 0;
    }
}
//====================================================================
//! добавил
hr {
    margin: 1rem 0;
}
strong,
.bold {
    font-weight: 500;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
}

.wrapper-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 1000px;
    flex: 0 0 auto;
    position: relative;
    margin: 0 auto;
}
